# Системний кеш та налаштування IDE
__pycache__/
.vscode/
.idea/
*.swp

# Віртуальні середовища та залежності
venv/
env/
.env

# Системні файли ОС
.DS_Store
Thumbs.db

# Файли з даними (за вимогами)
*.csv
*.json
*.log