# Обов'язкові системні файли
.DS_Store

# Обов'язковий кеш та налаштування IDE
.idea/
.vscode/
*.swp

# Обов'язкові теки збірки
bin/
build/
__pycache__/
venv/

# Обов'язкові файли з даними та логи
*.txt
*.csv
*.json
*.log

# Зібраний бінарний файл
Lab6